<mat-dialog-content>
    <div class="title">
        <h2>Edit Band Info<span class="smaller-text"> and keep on rocking!</span></h2>
    </div>
    <form #editForm="ngForm" class="form-container">
        <mat-form-field appearance="outline">
            <mat-label>Band name</mat-label>
            <input matInput placeholder="Band name" [(ngModel)]="newBandForm.name" name="name" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Band country</mat-label>
            <input matInput placeholder="Band country" [(ngModel)]="newBandForm.country" name="country">
        </mat-form-field>
        <div *ngFor="let member of members; let i = index" class="member-name-container">
            <div class="name-control">
                <mat-form-field appearance="outline">
                    <mat-label>Member name</mat-label>
                    <input matInput placeholder="Member name" [(ngModel)]="member.name" name="name_{{ member.id }}">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Member surname</mat-label>
                    <input matInput placeholder="Member surname" [(ngModel)]="member.surname" name="surname_{{ member.id }}">
                </mat-form-field>
            </div>
            <button mat-raised-button color="warn" (click)="deleteMember(i)">Delete Name</button>
        </div>
        <div class="button-container button-container--add">
            <button mat-raised-button color="primary" (click)="addMemberName()">Add Member Name</button>
        </div>

        <mat-form-field appearance="outline">
            <mat-label>History</mat-label>
            <textarea matInput placeholder="history" [(ngModel)]="newBandForm.history" name="history">
      </textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Video</mat-label>
            <input matInput placeholder="video" [(ngModel)]="newBandForm.video" name="video">
        </mat-form-field>
        <button mat-raised-button color="accent" [disabled]="editForm.invalid" (click)="editBand()">Edit Band</button>
    </form>
</mat-dialog-content>
