<mat-dialog-content>
    <div class="title">
        <h2>Enter Band Info<span class="smaller-text"> and keep on rocking!</span></h2>
        <!-- Value: {{ newBandForm.value | json }} -->
    </div>
    <form [formGroup]="newBandForm" class="form-container">
        <mat-form-field appearance="outline">
            <mat-label>Band name</mat-label>
            <input matInput placeholder="Band name" formControlName="name">
            <mat-error *ngIf="getControl.name.touched && getControl.name.invalid">
                Band name required, yeah!
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Country of origin</mat-label>
            <input matInput placeholder="Country of origin" formControlName="country">
        </mat-form-field>
        <div class="bandMembers-names-container">
            <div formArrayName="members">
                <h3>Add here the band members</h3>
                <div *ngFor="let memberName of membersNames.controls; let i = index" [formGroupName]="i" class="member-name-container">
                    <h4>{{(i + 1)}} Band member : {{ newBandForm.value.members[i].name}} {{ newBandForm.value.members[i].instrument }}</h4>
                    <div class="name-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Member name</mat-label>
                            <input matInput placeholder="Name" formControlName="name">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Instrument</mat-label>
                            <input matInput placeholder="Instrument" formControlName="instrument">
                        </mat-form-field>
                    </div>
                    <button mat-raised-button color="warn" (click)="deleteMember(i)">Delete Member</button>
                </div>
            </div>
            <div class="button-container button-container--add">
                <button mat-raised-button color="primary" (click)="addMemberName()">Add New Member</button>
            </div>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>History</mat-label>
            <textarea matInput placeholder="history" formControlName="history">
          </textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Video</mat-label>
            <input matInput placeholder="video" formControlName="video">
        </mat-form-field>
        <button mat-raised-button [disabled]="newBandForm.invalid" color="accent" (click)="addBand()">Create Band</button>
    </form>
</mat-dialog-content>
