.smaller-text {
    font-size: 0.9rem;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.name-control {
    display: flex;
    flex-direction: column;
}

.bandMembers-names-container {
    border: 2px solid #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 8px;
}

.member-name-container {
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 8px;
}

.button-container {
    text-align: center;
    &--add {
        margin-top: 30px;
        margin-bottom: 22px;
    }
}

.history-container {
    height: 100px;
}

.margin-top {
    margin-top: 15px;
}