<mat-dialog-content class="cont">
    <div class="title">
        <h2>Edit Band Info<span class="smaller-text"> and keep on rocking!</span></h2>
    </div>
    <form #editForm="ngForm" class="form-container">
        <mat-form-field appearance="outline">
            <mat-label>Band name</mat-label>
            <input matInput placeholder="Band name" [(ngModel)]="newBandForm.name" name="name" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Country of origin</mat-label>
            <input matInput placeholder="Country of origin" [(ngModel)]="newBandForm.country" name="country">
        </mat-form-field>
        <div class="bandMembers-names-container">
            <h3>Edit here the band members</h3>
            <div *ngFor="let member of members; let i = index" class="member-name-container">
                <div class="name-control">
                    <mat-form-field appearance="outline">
                        <mat-label>Member name</mat-label>
                        <input matInput placeholder="Member name" [(ngModel)]="member.name" name="name_{{ member.id }}">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Instrument</mat-label>
                        <input matInput placeholder="Instrument" [(ngModel)]="member.instrument" name="instrument_{{ member.id }}">
                    </mat-form-field>
                </div>
                <button mat-raised-button color="warn" (click)="deleteMember(i)">Delete Name</button>
            </div>
            <div class="button-container button-container--add">
                <button mat-raised-button color="accent" (click)="addMemberName()">Add New Member</button>
            </div>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>History</mat-label>
            <textarea matInput placeholder="history" [(ngModel)]="newBandForm.history" name="history" class="history-container">
      </textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>YouTube video ID</mat-label>
            <input matInput placeholder="video" [(ngModel)]="newBandForm.video" name="video">
            <mat-hint align="start">A youTube video ID has 11 characters</mat-hint>
        </mat-form-field>
        <button class="create-button" mat-raised-button color="primary" [disabled]="editForm.invalid" (click)="editBand()">Edit Band</button>
    </form>
    <div class="close">
        <button mat-stroked-button mat-dialog-close color="accent">No edit band</button>
    </div>
</mat-dialog-content>