<mat-dialog-content>
    <div *ngIf="incomplete" class="incomplete">
        <h4>The next info is missing:</h4>
        <div *ngFor="let incompleteValue of incompleteValues; let i = index">
            <p class="missing-info">{{ incompleteValue }}</p>
        </div>
        <p class="missing-info" *ngIf="noMembers">members</p>
        <p class="missing-info" *ngIf="noVideo">Wrong youtube video Id</p>
        <button mat-button mat-dialog-close>Go to List and edit the Band info</button>
    </div>
    <div class="step-1">
        <div class="band-name">
            <h3 class="titles">Band name</h3>
            <h1 class="h1">{{newBandForm.name}}</h1>
            <h3 class="titles">Origin</h3>
            <h3 class="country">{{newBandForm.country}}</h3>
        </div>
        <div class="video">
            <h3 class="titles">Video</h3>
            <youtube-player *ngIf="!noVideo" class="video" [videoId]="video" suggestedQuality="highres" [height]="height" [width]="width">
            </youtube-player>
        </div>
    </div>
    <div class="step-2">
        <div class="member-names">
            <h3 class="titles">Band members</h3>
            <div *ngFor="let member of members; let i = index">
                <div class="name-box">
                    <p>{{member.name}}</p>
                    <p class="instrument-text">{{member.instrument}}</p>
                </div>
            </div>
        </div>
        <div class="band-history">
            <h3 class="titles titles--history">History</h3>
            <p>{{newBandForm.history}}</p>
        </div>
    </div>
    <div class="close">
        <button mat-raised-button mat-dialog-close tabindex="-1" color="accent">Close card detail</button>
    </div>
</mat-dialog-content>