<mat-dialog-content>
    <div *ngIf="incomplete">
        <h4>The next info is missing:</h4>
        <div *ngFor="let incompleteValue of incompleteValues; let i = index">
            <p>{{ incompleteValue }}</p>
        </div>
        <p class="no-members" *ngIf="noMembers">members</p>
        <p class="wrong-id" *ngIf="noVideo">(Wrong youtube video Id)</p>
        <h4>Go to the table to complete the Band info</h4>
    </div>
    <div class="step-1">
        <div class="band-name">
            <h1>{{newBandForm.name}}</h1>
            <h3>{{newBandForm.country}}</h3>
        </div>
        <youtube-player *ngIf="!noVideo" class="video" [videoId]="video" suggestedQuality="highres" [height]="height" [width]="width">
        </youtube-player>
    </div>
    <div class="step-2">
        <div class="member-names">
            <h3 class="member-names-title">Band members</h3>
            <div *ngFor="let member of members; let i = index">
                <div class="name-box">
                    <p>{{member.name}}</p>
                    <p class="instrument-text">{{member.instrument}}</p>
                </div>
            </div>
        </div>
        <div class="band-history">
            <h3>History</h3>
            <p>{{newBandForm.history}}</p>
        </div>
    </div>
</mat-dialog-content>