.incomplete {
    width: 45%;
    margin-bottom: 30px;
    border: 1px solid #f06292;
    border-radius: 5px;
    padding: 20px;
    @media (max-width: 768px) {
        width: 90%;
    }
    .missing-info {
        color: #f06292;
    }
}

.country {
    color: #f06292;
}

.step-1,
.step-2 {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}

//.wrong-id {}
.band-name,
.video {
    width: 45%;
    @media (max-width: 768px) {
        width: 90%;
        margin-top: 30px;
    }
}

.member-names {
    width: 45%;
    display: flex;
    flex-direction: column;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 20px;
    @media (max-width: 768px) {
        width: 90%;
        margin-top: 30px;
    }
    .name-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-right: 30px;
        margin-bottom: 10px;
        .instrument-text {
            padding-left: 20px;
            font-size: 0.8rem;
            color: #f06292;
        }
    }
}

.band-history {
    width: 45%;
    @media (max-width: 768px) {
        width: 90%;
        margin-top: 30px;
    }
}

.titles {
    margin-bottom: 10px;
    color: #bdbdbd;
    &--history {
        margin-top: 20px;
        @media (max-width: 768px) {
            margin-top: 0;
        }
    }
}

.close {
    margin-top: 30px;
    text-align: center;
}