.table-container {
    padding: 10px;
    background-color: #424242;
}

table {
    width: 100%;
}

.filter-add {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.add-cont {
    width: 8em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #ea80fc;
    cursor: pointer;
}

.add-color {
    cursor: pointer;
}

.filter-background {
    width: 40%;
    background-color: #424242;
    padding-top: 5px;
    color: white;
    .filter {
        padding-left: 10px;
    }
}
