.table-container {
    padding: 10px;
}

table {
    width: 100%;
}

.add-cont {
    width: 8em;
    display: flex;
    align-items: baseline;
}

.add-color {
    cursor: pointer;
}

.filter-background {
    width: 100%;
    background-color: #424242;
    padding-top: 5px;
    color: white;
    .filter {
        padding-left: 10px;
    }
}