.table-container {
    padding: 10px;
    background-color: #424242;
    .header {
        padding-top: 20px;
        padding-left: 15px;
        .list-title {
            font-size: 3rem;
            font-style: italic;
            line-height: 3rem;
            color: #ea80fc;
            .no-italic {
                font-style: normal;
            }
            .yellow {
                color: #fee20d;
            }
        }
    }
}

table {
    width: 100%;
}

.filter-add {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.add-cont {
    width: 8em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #ea80fc;
    cursor: pointer;
}

.add-color {
    cursor: pointer;
}

.filter-background {
    width: 40%;
    background-color: #424242;
    padding-top: 5px;
    color: white;
    .filter {
        padding-left: 10px;
    }
}

.ico-text {
    color: #b0bec5;
    padding-right: 5px;
}

.advice {
    color: #ea80fc;
}